
/*responsive image that never goes larger than original width and keeps ratio*/
.responsive-image{
  max-width: 100%;
  height: auto;
  display:block;
}
/*Flex: Arrange items in a single center paged column*/
.flex-container-tribute{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: beige;
}
/*Grid: Arrange items in a single center paged column*/
.grid-container-tribute{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: black;
  color: beige;

}

